[submodule "utils/lib/the-compact"]
	path = utils/lib/the-compact
	url = https://github.com/Uniswap/the-compact
[submodule "utils/lib/forge-std/forge-std"]
	path = utils/lib/forge-std/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "utils/lib/solady"]
	path = utils/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "utils/lib/permit2"]
	path = utils/lib/permit2
	url = https://github.com/Uniswap/permit2
